  campaign_service:
    build: ./campaign_service
    container_name: campaign-service
    environment:
      MONGO_URI: "mongodb://mongo:27017/campaign_db"
      RAZORPAY_KEY_ID: "rzp_test_1zpkYyQYNTu"
      RAZORPAY_KEY_SECRET: "RBfrtwTF08EFIWO7nwIDQdFl"
      RAZORPAY_WEBHOOK_SECRET: "your_webhook_secret"
    ports:
      - "5001:5001"
    depends_on:
      - mongodb
